.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 16px;
  
    .shopping-icon {
      width: 31px;
      height: 31px;
    }
  
    .item-count {
      position: absolute;
      font-size: 13px;
      font-weight: bold;
      bottom: 9px;
    }
  }